<meta charset="utf-8">
<link rel="dns-prefetch" href="//cdn.myshopify.com/">
{% unless shop.url contains 'dev-url' %}
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ shop.url }}/sitemap.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ shop.url }}/blogs/news.atom">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ shop.url }}/collections/all.atom">
{% endunless %}
{% capture title %}{{ page_title | downcase }}{% endcapture %}
{% if title contains 'contact' %}<meta name="robots" content="noindex">{% endif %}
<link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
<meta property="og:site_name" content="{{ shop.name }}">
{% if template == 'index' %}
 <title>{{ shop.name }} | {{ page_title }}</title>
 <meta name="title" itemprop="name" content="{{ shop.name }} | {{ page_title }}">
{% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
  <meta name="title" itemprop="name" content="Page Not Found | {{ shop.name }}">
{% else %}
 <title>{{ page_title }} | {{ shop.name }}</title>
 <meta name="title" itemprop="name" content="{{ page_title }} | {{ shop.name }}">
 {% if template == 'product' %}
   <meta property="og:title" content="{{ product.title }}">
   <meta property="og:type" content="product">
   <meta property="og:url" content="{{ shop.url }}{{ product.url }}">
   <meta property="og:image" content="{{ product.featured_image | product_img_url: 'grande' }}">
   <meta property="og:site_name" content="{{ shop.name }}">
   <meta itemprop="image" content="{{ product.featured_image | product_img_url: 'compact' }}">
   <meta itemprop="currency" content="{{ shop.currency }}">
   <meta itemprop="seller" content="{{ shop.name }}">
   <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}">
 {% elsif template == 'article' %}
  {% if article.content contains "<img" %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:'  %}
    {% if src %}
      <meta property="og:image" content="{{ src }}">
      <meta itemprop="image" content="{{ src }}">
    {% endif %}
  {% endif %}
 {% endif %}
{% endif %}
{% if page_description != '' %}
  <meta name="description" itemprop="description" content="{{ page_description }}">
{% endif %}
<link rel="canonical" href="{{ canonical_url }}">
<link rel="author" href="{{ 'humans.txt'| asset_url }}">