<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="dns-prefetch" href="//cdn.myshopify.com/">
<meta http-equiv="cleartype" content="on">
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ shop.url }}/sitemap.xml">
{% capture title %}{{ page_title | downcase }}{% endcapture %}
{% if title contains 'contact' %}<meta name="robots" content="noindex">{% endif %}
<meta http-equiv="imagetoolbar" content="false" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ shop.url }}/blogs/news.atom">
<link rel="icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ 'apple-touch-icon.png' | asset_url }}" type="image/x-icon">
<meta property="og:site_name" content="{{ shop.name }}">
<link rel="canonical" href="{{ canonical_url }}">
{% assign maxmeta = 23 %}
{% if template contains 'product' %}
  {% assign mf = product.metafields.meta_data %}
  {% unless mf == empty %}
    {% for mf in product.metafields.meta_data %}
      {% capture key %}{{ mf | first }}{% endcapture %}
      {% if key == 'title' %}
        <title>{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
        <meta name="title" itemprop="name" content="{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}">
      {% endif %}
      {% if key == 'meta_description' %}
        <meta name="description" itemprop="description" content="{{mf | last}}">
      {% endif %}
      {% if key == 'keywords' %}
        <meta name="keywords" content="{{mf | last}}">
      {% endif %}
    {% endfor %}
  {% else %}
    <title>{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
    <meta name="title" itemprop="name" content="{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}">
    <meta name="description" itemprop="description" content="{{ product.description | strip_html | strip_newlines | truncatewords: maxmeta | escape }} (Read more)">
    <meta name="keywords" content="{% for tag in product.tags %}{{ tag }}, {% endfor %}">
  {% endunless %}
    <meta itemprop="image" content="{{ product.featured_image | product_img_url: 'compact' }}">
    <meta property="og:title" content="{{ product.title | escape }}">
    <meta property="og:type" content="product">
    <meta property="og:url" content="{{ shop.url }}{{ product.url }}">
    <meta property="og:image" content="{{ product.featured_image | product_img_url: 'grande' }}">
    <meta property="og:site_name" content="{{ shop.name }}">
{% elsif template contains 'page' %}
  {% assign mf = page.metafields.meta_data %}
  {% unless mf == empty %}
    {% for mf in page.metafields.meta_data %}
      {% capture key%}{{ mf | first }}{%endcapture%}
      {% if key == 'title' %}
        <title>{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
        <meta name="title" itemprop="name" content="{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}">
      {% endif %}
      {% if key == 'meta_description' %}
        <meta name="description" itemprop="description" content="{{mf | last}}">
      {% endif %}
      {% if key == 'keywords' %}
        <meta name="keywords" content="{{mf | last}}">
      {% endif %}
    {% endfor %}
  {% else %}
    <title>{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
    <meta name="title" itemprop="name" content="{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}">
    <meta name="description" itemprop="description" content="{{ page.content | strip_html | strip_newlines | truncatewords: maxmeta | escape }} (Read more)">
  {% endunless %}
{% elsif template contains 'collection' %}
  {% assign mf = collection.metafields.meta_data %}
  {% unless mf == empty or mf == nil %}
    {% for mf in collection.metafields.meta_data %}
      {% capture key%}{{ mf | first }}{%endcapture%}
      {% if key == 'title' %}
        <title>{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
        <meta name="title" itemprop="name" content="{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}">
      {% endif %}
      {% if key == 'meta_description' %}
        <meta name="description" content="{{mf | last}}">
      {% endif %}
      {% if key == 'keywords' %}
        <meta name="keywords" content="{{mf | last}}">
      {% endif %}
    {% endfor %}
  {% else %}
    <title>{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
    <meta name="title" itemprop="name" content="{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}">
    {% if collection.description != '' %}
      <meta name="description" itemprop="description" content="{{ collection.description | strip_html | strip_newlines | truncatewords: maxmeta | escape }} (Read more)">
    {% elsif shop.description != '' %}
       <meta name="description" itemprop="description" content="{{ shop.description | escape }}">
    {% endif %}
    <meta name="keywords" content="{% for tag in collection.all_tags %}{{ tag }}, {% endfor %}">
  {% endunless %}
	<meta itemprop="image" content="{{ collection.image.src | product_img_url: 'compact' }}">
{% elsif template contains 'index' %}
  <title>{{ shop.name }}: {{ settings.seo_tagline }}</title>
  <meta name="title" itemprop="name" content="{{ shop.name }}: {{ settings.seo_tagline }}">
  {% if shop.description != '' %}
     <meta name="description" itemprop="description" content="{{ shop.description | escape }}">
  {% endif %}
  <meta name="keywords" content="{{ settings.seo_keywords }}">
{% elsif template contains 'blog' %}
  {% assign mf = blog.metafields.meta_data %}
  {% unless mf == empty %}
    {% for mf in blog.metafields.meta_data %}
      {% capture key %}{{ mf | first }}{% endcapture %}
      {% if key == 'title' %}
        <title>{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
        <meta name="title" itemprop="name" content="{{mf | last}} | {{ shop.name }}: {{ settings.seo_tagline }}">
      {% endif %}
      {% if key == 'meta_description' %}
        <meta name="description" itemprop="description" content="{{mf | last}}">
      {% endif %}
      {% if key == 'keywords' %}
        <meta name="keywords" content="{{mf | last}}">
      {% endif %}
    {% endfor %}
  {% else %}
    <title>{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
    <meta name="title" itemprop="name" content="{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}">
    <meta name="description" itemprop="description" content="{{ shop.name }} Blog"> 
  {% endunless %}
{% elsif template contains 'article' %}
  <title>{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}</title>
  <meta name="title" itemprop="name" content="{{ page_title | escape }} | {{ shop.name }}: {{ settings.seo_tagline }}">
  <meta name="description" itemprop="description" content=" {{ article.excerpt_or_content | strip_html | strip_newlines | truncatewords: maxmeta | escape }}">
{% else %}
  <title>{% if template == "404" %}Page Not Found | {% endif %}{{ shop.name }}: {{ settings.seo_tagline }}</title>
  <meta name="title" itemprop="name" content="{% if template == "404" %}Page Not Found | {% endif %}{{ shop.name }}: {{ settings.seo_tagline }}">
  <meta name="description" itemprop="description" content="{{ shop.description | escape }}">
{% endif %}
<link rel="author" href="{{ 'humans.txt'| asset_url }}">