{% if product-grid-item == '' %}{% assign product-grid-item = 'four-per-row' %}{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}
<li class="{{ product-grid-item }}{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}{% if product-grid-item == 'four-per-row' %}{% cycle 'last': '', '', '', ' last-in-row' %}{% elsif product-grid-item == 'three-per-row' %}{% cycle 'last': '', '', ' last-in-row' %}{% endif %}">
  <figure class="prod-image-wrap">  
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
    </a>
    <figcaption class="prod-caption">
        <a href="{{ product.url | within: collection }}">
          {{ product.title }}
        </a>
        <span class="prod-price">
          {{ product.price | money }}
          {% if on_sale %}
          <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
          {% endif %}
        </span>
    </figcaption><!-- .prod-caption -->  
  </figure><!-- .prod-image-wrap -->
</li>