<div class="vcard">
 <div class="org"><a class="url" href="{{ settings.vcard_url }}">{{ settings.vcard_org }}</a></div>
 <a class="email" href="{{ settings.vcard_email }}">{{ settings.vcard_display_email }}</a>
 <div class="adr">
  <div class="street-address">{{ settings.vcard_street_address }}</div>
  <span class="locality">{{ settings.vcard_city }}</span>, <span class="region">{{ settings.vcard_region }}</span>, <span class="postal-code">{{ settings.vcard_postal_code }}</span>
  <span class="country-name">{{ settings.vcard_country_name }}</span>
 </div>
 <div class="tel">{{ settings.vcard_tel }}</div>
 <!-- This microformats.org/wiki/hcard created with the microformats.org/code/hcard/creator -->
</div>
