{% include 'breadcrumb' %}
 <h1>Shopping Cart</h1>
 {% if cart.item_count > 0 %}
  <form action="/cart" method="post" name="cartform">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <th class="pic"><span class="ir">Item Image</span></th>
        <th class="name"><span class="ir">Item Name</span></th>
        <th class="size">Size</th>
        <th class="qty">Quantity</th>
        <th class="sub"><span>Price</span></th>
      </tr>
      {% for item in cart.items %}
      {% if forloop.first %}
        {% assign collection_url = item.product.collections.first.url %}
        {% if collection_url == '/collections/frontpage' or collection_url == '' %}{% assign collection_url = '/collections/all' %}{% endif %}
      {% endif %}
      <tr class="{% cycle 'odd', 'even' %}">
        <td class="pic">
          <a href="{{ item.product.url | within: collections.all }}"><img src="{{ item | img_url: 'thumb' }}" alt="{{ item.title | escape }}" /></a>
        </td>
        <td class="name">
          <h2>
            <a href="{{ item.product.url | within: collections.all }}">
            {{ item.title }}
            {% if item.product.variants.size == 1 %}
              {% unless item.variant.title contains 'Default' %}
               - {{ item.variant.title }}
              {% endunless %}
            {% endif %}
            </a>
          </h2>
          {% assign property_size = item.properties | size %}
          {% if property_size > 0 %}
          <p>
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
                <br />
              {% endunless %}
            {% endfor %}
          </p>
          {% endif %}
          <h3>{{ item.vendor }}</h3>
        </td>
        <td class="size"><span>{{ item.variant.option1 }}</span></td>
        <td class="qty">
          <input type="number" class="field quantity-notification" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0"{% if item.variant.inventory_management == 'shopify' %}{% unless item.variant.inventory_quantity < 1 and item.variant.available %} max="{{ item.variant.inventory_quantity }}"{% endunless %}{% endif %} data-product-inventory="{{ item.variant.inventory_quantity }}"/>
          <input type="submit" alt="Update" name="update" class="update awesome white" value="update">
        </td>
        <td class="sub"><span>{{ item.line_price | money }}</span></td>
      </tr>
      {% endfor %}
    </table>
    <div id="complete" class="clearfix">
      <p class="prod_price">Subtotal <span>{{ cart.total_price | money }}</span></p>
      <input type="submit" class="awesome" alt="Checkout" name="checkout" value="PROCEED TO CHECKOUT">
      {% assign last_product = cart.items[0].product %}
      {% assign url = last_product.collections[0].url %}
      {% if last_product.collections[0].handle == 'all' %}
        {% if last_product.collections.size > 1 %}
          {% assign url = last_product.collections[1].url %}
        {% else %}
          {% assign url = '/' %}
        {% endif %}
      {% endif %}
      <a href="{{ url }}">Continue Shopping</a>
      {% if additional_checkout_buttons %}<p class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</p>{% endif %}
    </div>
    <div class="cart-note">
      <p>Special instructions for seller</p>
      <textarea name="note">{{ cart.note }}</textarea>
    </div>
  </form>
 {% else %}
  <p id="empty">Your shopping cart is empty. <a href="/">Continue shopping&hellip;</a></p>
 {% endif %}