{% layout settings.customer_layout %}
<article id="template" class="container">
  {% include 'breadcrumb' %}
  <section class="first" id="address_tables">
    <h1 class="title en">Manage Account Addresses</h1>
    {% for address in customer.addresses %}
    <div class="address_table">
      <div id="view_address_{{address.id}}" class="customer_address">
        <h3 class="address_title">{% if address == customer.default_address %}Default Address{% else %}{{ address.street }}{% endif %}</h3>
        <p class="address_actions en"><span class="action_link action_edit">{{ "Edit" | edit_customer_address_link: address.id }}</span> | <span class="action_link action_delete">{{ "Delete" | delete_customer_address_link: address.id }}</span></p>
        <div class="view_address">
          <p>{{ address.first_name }} {{address.last_name }}<br>
          {% if address.company != '' %}{{ address.company }}<br>{% endif %}
          {{ address.street }}<br>
          {{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %} {{ address.zip }}<br>
          {{ address.country }}<br>
          {{ address.phone }}</p>
        </div>
      </div>
    </div><!-- end .address_table -->
    {% endfor %}
    <div class="address_table">
      <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>
    </div>
  </section><!-- end #address_tables -->
  <section class="sidebar" id="address_editing_tables">
    {% for address in customer.addresses %}
    <div id="edit_address_{{address.id}}" class="edit_address" style="display:none;">
      {% form 'customer_address', address %}
        <h2 id="add_address_title" class="en">Edit address</h2>
        <div>
          <label for="address_first_name_{{form.id}}" class="hidden">First Name</label>
          <input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" placeholder="First Name">
        </div>
        <div>
          <label for="address_last_name_{{form.id}}" class="hidden">Last Name</label>
          <input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" placeholder="Last Name">
        </div>
        <div>
          <label for="address_company_{{form.id}}" class="hidden">Company</label>
          <input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" placeholder="Company">
        </div>
        <div>
          <label for="address_address1_{{form.id}}" class="hidden">Address1</label>
          <input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" placeholder="Address1">
        </div>
        <div>
          <label for="address_address2_{{form.id}}" class="hidden">Address2</label>
          <input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" placeholder="Address2">
        </div>
        <div>
          <label for="address_city_{{form.id}}" class="hidden">City</label>
          <input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" placeholder="City">
        </div>
        <div>
          <label for="address_country_{{form.id}}" class="hidden">Country</label>
          <select id="address_country_{{form.id}}" class="address_country" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
        </div>
        <div id="address_province_container_{{form.id}}" class="address_province_container" style="display:none">
          <label for="address_province_{{form.id}}" class="hidden">Province</label>
          <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
        </div>
        <div>
          <label for="address_zip_{{form.id}}" class="hidden">Zip</label>
          <input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" placeholder="Zip">
        </div>
        <div>
          <label for="address_phone_{{form.id}}" class="hidden">Phone</label>
          <input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Phone">
        </div>
        <div>{{ form.set_as_default_checkbox }} Set as Default Address?</div>
        <div class="action_bottom en">
          <input class="awesome" type="submit" value="Update Address" />
          <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a></span>
        </div>
      {% endform %}
    </div>
    {% endfor %}
    <div id="add_address" class="edit_address" style="display:none;">
      {% form 'customer_address', customer.new_address %}
        <h2 id="add_address_title" class="en">New address</h2>
        <div><label for="address_first_name_new" class="hidden">First Name</label>
        <input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" placeholder="First Name"></div>
        <div><label for="address_last_name_new" class="hidden">Last Name</label>
        <input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" placeholder="Last Name"></div>
        <div><label for="address_company_new" class="hidden">Company</label>
        <input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" placeholder="Company"></div>
        <div><label for="address_address1_new" class="hidden">Address1</label>
        <input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" placeholder="Address1"></div>
        <div><label for="address_address2_new" class="hidden">Address2</label>
        <input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" placeholder="Address2"></div>
        <div><label for="address_city_new" class="hidden">City</label>
        <input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" placeholder="City"></div>
        <div><label for="address_country_new" class="hidden">Country</label>
        <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select></div>
        <div id="address_province_container_new" style="display:none">
          <label for="address_province_new" class="hidden">Province</label>
          <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
        </div>
        <div><label for="address_zip_new" class="hidden">Zip</label>
        <input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" placeholder="Zip"></div>
        <div><label for="address_phone_new" class="hidden">Phone</label>
        <input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="Phone"></div>
        <div>{{ form.set_as_default_checkbox }} Set as Default Address?</div>
        <div class="action_bottom en">
          <input class="awesome" type="submit" value="Add Address">
          <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a></span>
        </div>
      {% endform %}
    </div>
  </section>
</article>
<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>
