{% layout settings.customer_layout %}
{% include 'breadcrumb' %}
<article id="template" class="clearfix customer-account">
  <section id="customer" class="first uneven solo">
    
    {% include 'switch-candy' %}
    
    <!-- Login Customer -->
    <div id="customer-login">
      <h2>Enter your email:</h2>
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}
        <div id="login_email" class="clearfix large_form">
          <label for="customer_email" class="hidden">Email Address</label>
          <input type="email" value="" placeholder="Email Address" name="customer[email]" id="customer_email" class="large" />
        </div>
        {% if form.password_needed %}

          {% comment %}
            Customer Account Login
          {% endcomment %}

          <div id="login_password" class="clearfix large_form">
            <label for="customer_password" class="hidden">Password</label>
            <input type="password" placeholder="Password" value="" name="customer[password]" id="customer_password" class="large password">
          </div>

        {% endif %}

        <div class="action_bottom">
          <input class="awesome" type="submit" value="Secure Sign In" />
          <p><small id="forgot_password">
            <a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
          </small></p>
        </div>
      {% endform %}
    </div><!-- /#create-customer -->

    <!-- Create Customer -->
    <div id="create-customer" class="toggle-hidden">
      <div class="template_header">
        {% if shop.checkout.guest_login %}
          <h2 class="title">Enter your email:</h2>
          {% form 'guest_login' %}
            {{ form.errors | default_errors }}
            <div id="email" class="clearfix large_form">
              <label for="email" class="login hidden">Email Address</label>
              <input type="email" value="" name="customer[email]" id="email" class="large" size="30" placeholder="Email Address">
            </div>
            <div class="action_bottom">
              <input class="awesome" type="submit" value="Continue as Guest" />
            </div>
          {% endform %}
        {% else %}
          <h2>Create Account</h2>
          {% form 'create_customer' %}
            {{ form.errors | default_errors }}
            <div id="first_name" class="clearfix large_form">
              <label for="first_name" class="login hidden">First Name</label>
              <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" placeholder="First Name">
            </div>
            <div id="last_name" class="clearfix large_form">
              <label for="last_name" class="login hidden">Last Name</label>
              <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" placeholder="Last Name">
            </div>
            <div id="email" class="clearfix large_form">
              <label for="email" class="login hidden">Email Address</label>
              <input type="email" value="" name="customer[email]" id="email" class="large" size="30" placeholder="Email Address">
            </div>
            <div id="password" class="clearfix large_form">
              <label for="password" class="login hidden">Password</label>
              <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" placeholder="Password">
            </div>
            <div class="action_bottom">
                <input class="awesome" type="submit" value="Create" />
                <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>
            </div>
          {% endform %}
        {% endif %}
      </div>
    </div><!-- /#create-customer -->

  </section>

  {% comment %}
    Recover Password Form
  {% endcomment %}

  <section id="recover-password" class="first uneven" style='display:none'>
    <div class="template_header">
      <h2>Reset Password</h2>
      <p class="note">We will send you an email to reset your password.</p>
    </div>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="hidden">Email</label>
        <input type="email" value="" placeholder="Email" name="email" id="recover-email" class="large" />
      </div>
      <div class="action_bottom">
        <input class="awesome" type="submit" value="Submit" />
        <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
      </div>
    {% endform %}
  </section>

</article>