<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}"><![endif]-->
<!--[if gte IE 8]><!-->
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}">
<!--<![endif]-->
<head>
  {% include 'meta' %}
  {{ 'font-face.css' | asset_url | stylesheet_tag }}
  {{ 'mangled.css' | asset_url | stylesheet_tag }}
  {% if template contains 'customers' %}
    {{ 'customer.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'index' %}
    {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'modernizr.js' | asset_url | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{% if template %}{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% else %}app{% endif %}">
  <div class="viewport">
   <header role="banner" class="clearfix">
    <div class="inner">
      <h1><a href="/">{% if settings.use_logo %}<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">{% else %}{{ shop.name | upcase }}{% endif %}</a></h1>
      {% if shop.customer_accounts_enabled %}
        <p class="customer-links">
          {% if customer %}
            Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
          {% else %}
            {{ 'Log in' | customer_login_link }}
            {% if shop.customer_accounts_optional %}
              or {{ 'Create an account' | customer_register_link }}
            {% endif %}
          {% endif %}
        </p>
      {% endif %}
      {% comment %}
      <p class="checkout-link">
        <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a> ·
        <a href="/cart">Check out</a>
      </p>
      <form action="/search" method="get" class="search-form" role="search">
        <input name="q" type="text" id="search-field" placeholder="Search..." class="hint">
        <input type="submit" id="search-submit" value="Search" />
      </form>
      {% endcomment %}
    </div>
    {% include 'main-nav_min' %}
   </header>
   <div role="main" class="main clearfix">
     {% if template == 'list-collections' %}
      {% include 'collection-listing' %}
     {% else %}
      {{ content_for_layout }}
     {% endif %}
   </div>
   <footer role="contentinfo" class="clearfix">
     <p>{% for link in linklists.footer.links %}<a{% if link.active %} class="active"{% endif %} href="{{ link.url }}">{{ link.title | replace:' ', '&nbsp;' }}</a>&nbsp;|{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %} &copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;{{ shop.name }}. {{ powered_by_link }}. <a href="http://36creative.com/">Design&nbsp;by&nbsp;36Creative</a>.&nbsp;<a href="http://tricky3.co.uk/">Mangled&nbsp;by&nbsp;Tricky3</a></p>
   </footer>
 </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ 'jquery.js' | asset_url }}">\x3C/script>')</script>
  {{ "jquery.fittext.js" | asset_url | script_tag }}
  <script>
    $("header h1 a").fitText();
  </script>
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% elsif template == 'index' %}
    {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        var windowWidth = $(window).width();
        if(windowWidth > 991){
          $('.flexslider').flexslider({
            animation: '{{ settings.slide_effect }}',
            useCSS: false,
            slideshowSpeed: 6000,
            animationSpeed: 1000,
            controlNav: false,
            directionNav: false
          });
        }
      });
    </script>
  {% elsif template == 'cart' %}
    <script type="text/javascript">
      function remove_item(id) {
          document.getElementById('updates_'+id).value = 0;
          document.getElementById('cartform').submit();
      }
    </script>
  {% endif %}

  <!--[if lt IE 8]>
    {{ 'json2.js' | asset_url | script_tag }}
  <![endif]-->

  <!--[if (lt IE 9) & (!IEMobile)]>
    {{ 'DOMAssistant.js' | asset_url | script_tag }}
    {{ 'selectivizr.js' | asset_url | script_tag }}
  <![endif]-->

  {{ content_for_header }}

</body>
</html>