<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js ie" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}" xmlns:fb="http://ogp.me/ns/fb#"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en" itemscope itemtype="http://schema.org/{% case template %}{% when 'product' %}Product{% when 'blog' %}Blog{% else %}LocalBusiness{% endcase %}" xmlns:fb="http://ogp.me/ns/fb#">
<!--<![endif]-->
<head>
  {% include 'meta' %}
  {{ 'font-squirrel.css' | asset_url | stylesheet_tag }}
  {{ 'mangled.scss.css' | asset_url | stylesheet_tag }}
  {% if template contains 'customers' %}
    {{ 'customer.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'modernizr.js' | asset_url | script_tag }}
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{% if template %}{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% else %}app{% endif %}">
 <div class="container">
   <header role="banner" class="clearfix">
    <form action="/search" method="get" class="search-form" role="search">
      <input name="q" type="text" id="search-field" placeholder="Search..." class="hint">
      <input type="submit" id="search-submit" value="Search" />
    </form>
    {% if shop.customer_accounts_enabled %}
      <p class="customer-links">
        {% if customer %}
          Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
        {% else %}
          {{ 'Log in' | customer_login_link }}
          {% if shop.customer_accounts_optional %}
            or {{ 'Create an account' | customer_register_link }}
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
    <p class="checkout-link">
      <a href="/cart">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})</a> ·
      <a href="/cart">Check out</a>
    </p>
    <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"></a>
    {% include 'main-nav' %}
   </header>
   <div role="main" class="main clearfix">
     {% if template %}
       {% if template == 'list-collections' %}
        {% include 'collection-listing' %}
       {% else %}
        {{ content_for_layout }}
       {% endif %}
     {% else %}{% comment %}app{% endcomment %}
      {{ content_for_layout }}
     {% endif %}
     
   </div>
   <footer role="contentinfo" class="clearfix">
     {% if linklists.footer.links.size > 0 %}
       <ul>
         {% for link in linklists.footer.links %}
          <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
         {% endfor %}
       </ul>
     {% endif %}
     <p>&copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}. <a href="http://tricky3.co.uk/">Mangled by Tricky3</a></p>
   </footer>
 </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ 'jquery.js' | asset_url }}">\x3C/script>')</script>
  {{ content_for_header }}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% elsif template == 'cart' %}
    <script type="text/javascript">
      function remove_item(id) {
          document.getElementById('updates_'+id).value = 0;
          document.getElementById('cartform').submit();
      }
    </script>
  {% endif %}
  
  <!--[if lt IE 8]>
    {{ 'json2.js' | asset_url | script_tag }}
  <![endif]-->
  
  <!--[if (lt IE 9) & (!IEMobile)]>
    {{ 'DOMAssistant.js' | asset_url | script_tag }}
    {{ 'selectivizr.js' | asset_url | script_tag }}
  <![endif]-->


</body>
</html>