<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
{% include 'meta' %}

<link rel="stylesheet" media="screen" href="{{ 'mangled.css' | asset_url }}">

<script src="{{ 'modernizr.js' | asset_url }}"></script>

{{ content_for_header }}

</head>

</head>

<body class="clearfix">
 <header role="banner" class="clearfix">
  <h1><a href="/"><span class="ir">{{ shop.title }}</span></a></h1>
 </header>
 <div class="content clearfix">
   {{ content_for_layout }}
 </div>
 <footer role="contentinfo" class="clearfix">
  <ul id="social">
   <li><a href="http://www.facebook.com/" class="facebook"><span class="ir">facebook</span></a></li>
   <li><a href="http://www.twitter.com/" class="twitter"><span class="ir">twitter</span></a></li>
  </ul>
 </footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ 'jquery-1.7.0.min.js' | asset_url }}">\x3C/script>')</script>

<!-- Scripts -->
<script src="{{ 'plugins.js' | asset_url }}"></script>
<script src="{{ 'script.js' | asset_url }}"></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="{{ 'DOMAssistantCompressed-2.8.js' | asset_url }}"></script>
<script src="{{ 'selectivizr-1.0.2.min.js' | asset_url }}"></script>
<script src="{{ 'respond.proxy.js' | asset_url }}"></script>
<![endif]-->

<!-- http://t.co/HZe9oJ4 -->
<script>
var _gaq=[['_setAccount','{{ settings.seo_google_ua }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<noscript>Your browser does not support JavaScript!</noscript>
</body>
</html>