<section id="articles">
  {% for article in blog.articles %}
  <article>
    <h2>{{ article.title }}</h2>
    <p class="published">{{ article.published_at | date:'%X' }}</p>
    {{ article.content }}
    {% if blog.all_tags.size != 0 %}<p class="tags">Tags: {% for tag in article.tags %}{% if current_tags contains tag %}{{ tag | link_to_remove_tag: tag }}{% else %}{{ tag | link_to_add_tag: tag }}{% endif %}{% if forloop.last %}.{% else %},&nbsp;{% endif %}{% endfor %}</p>{% endif %}
  </article>
  {% endfor %}
</section>
{% include 'blog-sidebar' %}