<article>
	<h2>{{ product.title }}</h2>
	<section id="images">
		<ul>
			<li class="featured"><img src="{{ product.images[0] | product_img_url: 'grande' }}" alt="{{ product.title | escape }}: Featured Product Image"></li>
			{% for img in product.images %}
				<li><img src="{{ img | product_img_url: 'thumb' }}" alt="{{ product.title | escape }}: Alternate View #{{ forloop.index }}"></li>
			{% endfor %}
		</ul>
	</section>
	<section id="description">
		<div class="textile">{{ product.description }}</div>
		<i>Price <b class="price">{{ product.price | money_with_currency }}</b></i>
	</section>
	<section id="variants">
		<form>
			<input type="submit">
		</form>
	</section>
</article>
{% if settings.related_products %}{% include 'related' %}{% endif %}
{% if settings.recently_viewed_products %}{% include 'recently-viewed' %}{% endif %}