<article id="product-{{ product.id }}">
 {% include 'breadcrumb' %}
 <section id="images" class="main-panel">
  <a id="featured" href="{{ product.images[0] | product_img_url: 'original' }}"><img src="{{ product.images[0] | product_img_url: 'grande' }}" alt="{{ product.title | escape }}: Featured Product Image" itemprop="image"></a>
  {% if product.images.size > 1 %}
    <ul>
     {% for img in product.images %}
      <li><a href="{{ img | product_img_url: 'original' }}" rel="zoom-id:featured" rev="{{ img | product_img_url: 'large' }}"><img src="{{ img | product_img_url: 'compact' }}" alt="{{ product.title | escape }}: Alternate View #{{ forloop.index }}"></a></li>
     {% endfor %}
    </ul>
  {% endif %}
 </section>
 <section id="description" class="main-panel">
  <h1 itemprop="name">{{ product.title }}</h1>
  <div class="textile" itemprop="description">{{ product.description }}</div>
  <i itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">Price <b class="price" itemprop="price">{{ product.price | money_with_currency }}</b></i>
  {% if product.available %}
  <form action="/cart/add" method="post">
    <div id="product-variants" class="clearfix">
      {% if product.variants.size > 1 %}
        <select id="product-select" name='id'>
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
      {% else %}
        <input type="hidden" name="id" value="{{ product.variants[0].id }}">
      {% endif %}
    </div>
    <div id="bagit" class="clearfix">
      <span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"><span id="price-field" itemprop="price">{{ product.price | money }}</span></span>
      <label for="quantity">Qty: </label><input pattern="[0-9]*" type="text" id="quantity" name="quantity" value="1">
      <div><input type="submit" class="awesome" name="add" id="purchase" value="ADD TO CART"></div>
    </div>
  </form>
  {% else %}
    <p>Sold Out!</p>
  {% endif %}
 </section>
</article>