<article itemscope itemtype="http://schema.org/Product">
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <div id="product-details">
      <h1 itemprop="name">{{ product.title }}</h1>
      <h2 itemprop="brand">{{ product.vendor | link_to: vendor_url }}</h2>
      {% assign product_vendor_handle = product.vendor | handle %}
      {% if collections[product_vendor_handle].handle == product_vendor_handle %}
        {% assign vendor_url = collections[product_vendor_handle].url %}
      {% else %}
        {% assign vendor_url = product.vendor | url_for_vendor %}
      {% endif %}
      <div id="product-description" class="rte" itemprop="description">
        {{ product.description }}
      </div>
      <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <p>
          {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>&nbsp;<s class="product-compare-price">{{ product.compare_at_price_max | money }}</s>
          {% else %}
          <span class="product-price" itemprop="price">{{ product.price | money }}</span>
          {% endif %}
        </p>
      </div>
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}       
      <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
       <select id="product-select" name="id" class="hidden">
       {% for variant in product.variants %}
         <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
       {% endfor %}
       </select>
      </div>
      <div id="backorder" class="hidden">
        <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}</p>
      </div>
      <div id="product-add">
        <input type="submit" name="add" id="add" value="Add to cart">
      </div>
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
        <div>     
        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left">{{ '&larr; Previous Product' | link_to: prev_url }}</span>
        {% endif %}
        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right">{{ 'Next Product &rarr;' | link_to: next_url }}</span>
        {% endif %}
        </div>
        {% endif %}
      {% endif %}
    </div><!-- #product-details -->
  </form>
  <section id="product-photos">
  {% if product.images.size == 0 %}
    <div id="product-photo-container">
      <img src="{{ '' | product_img_url: 'grande' }}" alt="" />
    </div>
  {% else %}
    <div id="product-photo-container">
      <a class="gallery" href="{{ product.featured_image.src | product_img_url: 'original' }}" rel="gallery">
        <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
      </a>
    </div>
    {% if product.images.size > 1 %}
    <ul id="product-photo-thumbs" class="clearfix grid">
      {% for image in product.images offset:1 %}
      <li class="product-photo-thumb">
        <a class="gallery" href="{{ image.src | product_img_url: 'original' }}" rel="gallery">
          <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
  </section><!-- #product-photos -->
  {% include 'related-products' %}
</article>